.text-start {
    text-align: start!important;
}

.text-end {
    text-align: end;
}

.cursor-pointer {
    cursor: pointer;
}

/* Product add */
.delete-variant, .delete-tiered {
    font-size: 23px;
    display: flex;
    margin-top: 32px;
    width: fit-content;
}

/* product-card */
.price-label {
    font-size: 16px;
}

.product-img, .product-img-new {
    height: 150px;
    width: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.product-img-sm {
    height: 80px;
    width: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.product-imgs-preview .product-img.selected, .product-imgs-preview .product-img-new.selected  {
    border: 5px solid rgba(246, 176, 177, .3);
}

.product-imgs-preview .product-img-item {
    position: relative;
}

.product-imgs-preview .product-img-item .delete-img-btn {
    position: absolute;
    bottom: 0;
    right: 14px;
    font-size: 23px;
    cursor: pointer;
}