.text-start {
    text-align: start!important;
}

.text-end {
    text-align: end;
}

.cursor-pointer {
    cursor: pointer;
}

/* Product add */
.delete-variant {
    font-size: 23px;
    display: flex;
    margin-top: 32px;
    width: fit-content;
}

/* product-card */
.price-label {
    font-size: 16px;
}